<!DOCTYPE html>
{% extends "alert_order_base.html" %}

{% block content %}
    <table id="data_status" class="table table-success table-hover">
        <thead>
            <th>TV_TIME</th>
            <th>TBOT_TIME</th>
            <th>ORD_TIME</th>
            <th>TICKER</th>
            <th>TV_$</th>
            <th>AVG_$</th>
            <th>DIRECTION</th>
            <th>ACT</th>
            <th>TYPE</th>
            <th>QTY</th>
            <th>POS</th>
            <th>O_REF</th>
            <th>STATUS</th>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row["tv_timestamp"]}}</td>
                    <td>{{row["uniquekey"]}}</td>
                    <td>{{row["timestamp"]}}</td>
                    <td>{{row["ticker"]}}</td>
                    <td>{{row["tv_price"]}}</td>
                    <td>{{row["avgprice"]}}</td>
                    <td>{{row["direction"]}}</td>
                    <td>{{row["action"]}}</td>
                    <td>{{row["ordertype"]}}</td>
                    <td>{{row["qty"]}}</td>
                    <td>{{row["position"]}}</td>
                    <td>{{row["orderref"]}}</td>
                    <td>{{row["orderstatus"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}