<!DOCTYPE html>
{% extends "alert_base.html" %}

{% block content %}
    <table id="data_alert" class="table table-primary table-hover">
        <thead>
            <th class="table-primary">TV_TIME</th>
            <th class="table-primary">TBOT_TIME</th>
            <th class="table-primary">TICKER</th>
            <th class="table-primary">DIRECTION</th>
            <th class="table-primary">QTY</th>
            <th class="table-primary">ORDERREF</th>
            <th class="table-primary">ALERTSTAT</th>
            <th class="table-primary">ENTLMT</th>
            <th class="table-primary">ENTSTP</th>
            <th class="table-primary">EXTLMT</th>
            <th class="table-primary">EXTSTP</th>
            <th class="table-primary">PRICE</th>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="table-primary">
               <td class="table-primary">{{row["tv_timestamp"]}}</td>
               <td class="table-primary">{{row["uniquekey"]}}</td>
               <td class="table-primary">{{row["ticker"]}}</td>
               <td class="table-primary">{{row["direction"]}}</td>
               <td class="table-primary">{{row["qty"]}}</td>
               <td class="table-primary">{{row["orderref"]}}</td>
               <td class="table-primary">{{row["alertstatus"]}}</td>
               <td class="table-primary">{{row["entrylimit"]}}</td>
               <td class="table-primary">{{row["entrystop"]}}</td>
               <td class="table-primary">{{row["exitlimit"]}}</td>
               <td class="table-primary">{{row["exitstop"]}}</td>
               <td class="table-primary">{{row["tv_price"]}}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}